{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "es2020": true,
    "browser": true,
    "mocha": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "lines-around-comment": "off",
    "newline-before-return": "error",
    "no-confusing-arrow": "off",
    "indent": ["error", 2],
    "no-console": "off",
    "no-debugger": "off",
    "no-undefined": "off",
    "require-jsdoc": "off",
    "semi": "off",
    "no-unused-vars": "warn",
    "space-before-function-paren": "off",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }]
  }
}